<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @active_header.id %>
</p>

<%= link_to 'Edit', edit_active_header_path(@active_header) %> |
<%= link_to 'Back', active_headers_path %>
