$admin: #000;

nav.admin{
  ul{
    li{
      a{
        &:hover{
        }
      }
    }
  }
}

section.admin{
  // box-shadow: 0 0 10px rgba(0,0,0,.25);
  position: relative;
  margin: 0 auto 1em;
  border-radius: 10px;
  background: #ddd;
  h1{
    padding: .5em;
    background: #eee;
    color: #111;
  }
  table{
    font-size: 1em;
    width: 100%;
    background-color: #ddd;
    // border: 4px lighten($admin, 30%) solid;
    margin-bottom: 1.5em;
    thead{
      border-bottom: 2px #ccc solid;

    }
    th, td{
      padding: .125em .25em;
    }
    th{
      font-size: 1em;
      color: #000;;
      text-align: left;
    }
    tr{
      transition: background-color 0.3s ease-out;
      &:hover{
        background-color: #eee;
      }
    }
    td{
      color: #000;
      vertical-align: middle;
      border-bottom: 1px darken($admin, 35) dashed;
      a{
        text-decoration: none;
        margin: 0 .25em;
        color: $admin;
        transition: color 0.3s ease-out;
        &:hover{
          color: darken($admin, 20);
        }
      }
      img{
        box-shadow: 0 0 5px rgba(0,0,0,.25);
        border: 4px #eee solid;
      }
      &.actions{
        text-align: right;
        a{
          font-size: .8em;
          transition: color .25s ease-in-out;
          &:hover{
            color: red;
          }
        }
      }
    }
    .sold{
      color: red;
      position: absolute;
      margin-left: -1em;
    }
  }
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
}

#error_explanation {
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul{
    margin: 0;
    padding: 0;
    li {
      font-size: 2em;
      list-style: square;
    }
  }
}

ul#categoryselectlist{
  text-transform: lowercase;
  margin: 0 0 1.5em 0;
  padding:0;
  list-style: none;
  li{
    display: inline-block;
    margin-left: .5em;
    a{
      color: #444;
      text-decoration: none;
      font-weight: 400;
      &:hover{
        color: #111;
      }
    }
  }
  .current{
    color: #000;
      font-weight: 600;
  }
}

#notice {
  color: green;
  background: white;
  padding: .5em;
  border: 1px black solid;
}
#crop-holder{
  display: block;
}
#crop-preview{
  position: absolute;
  top: 0;
  right: 0;
  width:180px; 
  height:180px;
  overflow:hidden;
  border: 3px solid rgba(0,0,0,.5);
}