%ul.images
  - @artworks.each do |artwork|
    %li
      = link_to image_tag(artwork.image_url(:thumb).to_s, alt: artwork.title), artwork.image_url(:large).to_s, data: { sold: artwork.sold, title: artwork.title, year: artwork.year, width: artwork.width, length: artwork.length, medium: artwork.medium }, class: 'jerkbox'